@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  margin: 0%;
  padding: 0%;
  font-family: "Roboto", sans-serif;
}
ul li {
  list-style: none;
}
a {
  text-decoration: none;
}
.intro {
  background-color: black;
  color: white;
  display: grid;
  grid-template-columns: 85% 5% 6%;
  grid-template-rows: 100%;
  grid-template-areas: "int lang ARG";
}
.int {
  grid-area: int;
  padding-left: 90px;
}
.lang {
  grid-area: lang;
}
.ARG {
  grid-area: ARG;
}
.nav {
  background-color: #f0a83e;
  color: white;
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-rows: 100%;
  grid-template-areas: "logo nav";
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
nav .pata {
  width: 20px;
  height: 20px;
  vertical-align: bottom;
  padding-right: 5px;
}
nav a {
  list-style: none;
  color: white;
  text-decoration: none;
  grid-area: nav;
}
nav > button > img {
  width: 25px;
  padding: 5px;
  padding-left: 10px;
  vertical-align: text-top;
}
nav > button > p {
  display: inline;
  color: #f0883e;
  vertical-align: -10px;
  padding-right: 5px;
}
nav > button {
  background-color: #fff;
  padding: 2px;
  border-radius: 20px;
  margin-right: 10px;
  border: none;
}
.logo {
  width: 200px;
  padding: 17px;
  vertical-align: bottom;
  grid-area: logo;
}

.bowl {
  background-image: url(../img/bowl.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  padding-top: 120px;
  padding-bottom: 120px;
}

.placer {
  width: 22%;
  text-align: center;
  font-size: 30px;
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
  margin-left: 73%;
  margin-top: 85px;
}
.desc {
  margin-left: 79%;
  margin-top: 1%;
  font-size: 16px;
}
.btn {
  width: 141px;
  height: 49px;
  background: #f0a83e;
  border-radius: 5px;
  margin-left: 81%;
  margin-top: 1%;
  border: none;
  color: #fff;
}
.productos img {
  width: calc(45.27px * 3);
  padding-top: 25px;
  height: calc(40px * 3);
}
h1 {
  font-weight: 700;
  font-size: 40px;
}
.productos {
  text-align: center;
}
.productos ul {
  margin-top: 20px;
}
.productos ul li {
  display: inline;
}
.productos a {
  color: #666666;
}

.comprar {
  display: grid;
  grid-template-columns: 27% 27% 27%;
  grid-template-rows: 100%;
  grid-template-areas: "churr comedero  hueso";
  grid-gap: 40px;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 80px;
}
.comprar > li > img {
  width: 80%;
  height: 60%;
  margin-bottom: 30px;
}
.comedero {
  grid-area: comedero;
  background-color: #fbfaf6;
  border-radius: 15px;
  width: 100%;
  height: 100%;
}
.comprar button > img {
  height: 80%;
  width: 20px;
  padding: 5px;
  vertical-align: middle;
  transform: rotateY(180deg);
}

.comprar button {
  padding-right: 5px;
  margin-top: 10px;
  background-color: #f0a83e;
  border-radius: 25px;
  border: none;
  padding: 5.5px;
  color: #000;
  cursor: pointer;
}
.comprar button:hover {
  background-color: #f0883e;
}
.churr {
  grid-area: churr;
  background-color: #fbfaf6;
  border-radius: 15px;
  width: 100%;
  height: 100%;
}
.hueso {
  grid-area: hueso;
  background-color: #fbfaf6;
  border-radius: 15px;
  width: 100%;
  height: 100%;
}
.precio {
  color: #f0a83e;
}
.contacto {
  text-align: center;
  margin-top: 70px;
}
.contacto h2 {
  margin-bottom: 10px;
}
li > input {
  background: #3c2313;
  border-radius: 15px;
  width: 340px;
  height: 40px;
  padding-left: 10px;
  margin-top: 10px;
  color: #fff;
}

input::placeholder {
  color: #fff;
}
#reset {
  margin-top: 40px;
  background: #8a8787;
  border-radius: 15px;
  width: 110px;
  height: 34px;
  border: none;
  color: #fff;
  cursor: pointer;
}
#submit {
  background: #f0a83e;
  border-radius: 15px;
  width: 110px;
  height: 34px;
  border: none;
  color: #fff;
  margin-bottom: 75px;
  cursor: pointer;
}

.sub {
  background-color: #f0a83e;
  color: #fff;
  padding: 20px;
  display: block;
}
.sub img {
  display: inline;
  vertical-align: sub;
}
.sub h3 {
  display: inline;
  vertical-align: 9px;
  padding-left: 10px;
}
#submit2 {
  width: 70px;
  height: 34px;
  background: #3c2313;
  border-radius: 15px;
  display: inline;
  color: #fff;

  font-weight: 700;
  font-size: 9px;

  margin-top: 3px;
}
.sub input {
  width: 271px;
  height: 40px;
  background: #ffffff;
  border-radius: 15px;
  display: inline;
  border: none;
  vertical-align: 9px;
}
.sub2 {
  display: block;
  float: right;
}
.sub input::placeholder {
  color: #a0a0a0;
  padding-left: 8px;
}
.foot1 {
  background-color: #3c2313;
}
.foot1 img {
  width: 66px;
  margin-top: 20px;
  margin-left: 70px;
  display: inline;
  vertical-align: middle;
}
.txtf {
  display: inline-block;
  vertical-align: middle;
}
.foot1 h3 {
  color: #fff;
}
.foot1 p {
  color: #8a8787;
}
.mail {
  padding-bottom: 20px;
}
.logo2 {
  float: right;
  width: 200px !important;
  margin-right: 70px;
}
.foot2 {
  text-align: center;
  background-color: #000;
  color: #fff;
  padding: 4px;
}

